<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Database" connectionString="Server=172.27.42.14;Port=5432;User id=pqm;password=dbuser;Database=inventory_ee149;" />
  </connectionStrings>
  <appSettings>
    <add key="UPN" value="4879497-G1171-16102-L0001"/>
    <add key="DATE" value="2020-01-02"/>
    <add key="MSD" value="1"/>
    <add key="DC" value="201"/>
    <add key="LN" value="20200102"/>
    <add key="QC" value="HG"/>
    <add key="QTY" value=""/>
    <add key="Hard" value="V1.0"/>
    <add key="Soft" value="V2.0"/>
    <add key="Describe" value="测试"/>
    <add key="PC_Nnumber" value="9"/>
    <add key="Expiration" value="365"/>

    <add key="Vendor" value="G117"/>
    <add key="Product" value="4879497"/>
    <add key="QTY2" value=""/>
    <add key="Describe2" value="VC散热片AD097-2"/>
  </appSettings>
</configuration>